<%inherit file="../base.html" />
<%def name="content()">
<% from django.shortcuts import reverse %>
<div class="div">
    % for video in videos:
    % if video.status == True:
    <div class="video-show">
        <a class="a_name" href="${reverse('client_video_sub', kwargs={'video_id': video.id})}">
            <div class="video-image" style="background-image:url(${video.image});background-size:cover;background-position:center;"></div>
            <p class="video-name">${video.name}</p>
        </a>
    </div>
    % endif
    % endfor
</div>
</%def>
<%def name="css()">
<link href="/static/client/css/public_video.css" rel="stylesheet" />
</%def>